<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Parakou Map </title>
    <link rel="shortcut icon" href="/img/logo_parakou.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h1 class="d-flex text-secondary align-items-center" style="height: 100vh;">
                    404 | Page not Found
                </h1>
            </div>
        </div>
    </div>
</body>
</html>