<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Parakou Map </title>
    <link rel="shortcut icon" href="/img/logo_parakou.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/spin.css">
    <link rel="stylesheet" href="/css/leaflet.fullscreen.css">
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: green;
        }

        .legend {
            line-height: 28px;
            padding: 10px;
            color: #555;
        }
        .legend i {
            width: 28px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        .mylabel {
            background-color: transparent;
        }

        .tooltipParcelles {
            background-color: white;
        }
        .tooltipQuartiers {
            background-color: red;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: x-small;
        }
        .tooltipRoutes {
            background-color: yellow;
            color: white;
        }
        .tooltipIlots {
            background-color: green;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: xx-small;
        }
        .tooltipArrondissements {
            background-color: purple;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: small;
        }
        .tooltipInfrastructures {
            background-color: magenta;
            color: white;
        }
        .collapse.in {
            height: 200px;
        }
        .collapsing {
            overflow: hidden;
            -webkit-transition: height 0.35s ease;
            -o-transition: height 0.35s ease;
            transition: height 0.5s ease;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid d-flex flex-column" style="height: 100vh;">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <div class="d-flex">
                        <img class="px-2" src="/img/logo_parakou.png" alt="Logo mairie Parakou">
                        <h2 class="text-center text-success py-1">Mairie de Parakou</h2>
                        <img class="px-2" src="/img/logo_parakou.png" alt="Logo mairie Parakou">    
                    </div>
                    <div class="ml-auto">
                        <a href="#map-ctl-search" id="ctl-search" class="btn btn-success" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="map-ctl-search">Recherche</a>
                        <a href="#map-ctl-legend" id="ctl-lgd" class="btn btn-success" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="map-ctl-legend">Légende</a>
                    </div>
                </div>
            </div>
            <div class="row h-100" style="overflow: auto;position: relative;">
                <div id="mapid" qip="<%= qip ? qip : -1 %>" class="w-100">
                </div>
                <div class="row" style="max-height: 5%;">
                    <div id="log" class="card text-white bg-danger" style="display: none; position: absolute; bottom: 0px; right: 0; z-index: 1000;overflow-y: scroll;">
                        <div class="card-header h3">
                            Erreurs
                            <button type="button" class="close text-white" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                    </div>    
                </div>
                <div id="map-ctl-search" class="bg-white collapse" style="position: absolute; top: 0px; right: 0; z-index: 1000;">
                    <div class="container-fluid">
                        <div id="no-result" class="d-none alert alert-warning">
                            La recherche n'a retourné aucun résultat.
                        </div>
                        <p class="font-weight-bold pt-3">Rechercher par numéro de QIP</p>
                        <div class="row">
                            <div class="col-12">
                                <input id="input-tf" class="form-control" type="text" placeholder="Entrez un numéro de titre foncier">
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-12">
                                <a id="reset-search-tf" href="javascript:;" class="btn btn-outline-primary">Réinitialiser</a>
                                <a id="search-tf" href="javascript:;" class="btn btn-success">Rechercher</a>
                            </div>
                        </div>
                        <hr>
                        <p class="font-weight-bold">Rechercher des parcelles</p>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="quartier" class="">Quartier</label>
                                <input type="text" id="quartier" class="form-control" name="quartier" placeholder="Quartier">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="ilot" class="">Ilot</label>
                                <input type="text" id="ilot" class="form-control" name="ilot" placeholder="Recherchez un ilot">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="parcelle" class="">Parcelle</label>
                                <input type="text" id="parcelle" class="form-control" name="parcelle" placeholder="Recherchez une parcelle">
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-md-12">
                                <a id="reset-search" href="javascript:;" class="btn btn-outline-primary">Réinitialiser</a>
                                <a id="search" href="javascript:;" class="btn btn-success">Rechercher</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/js/proj4-compressed.js"></script>
    <script type="text/javascript" src="/js/proj4leaflet.js"></script>
    <script type="text/javascript" src="/js/spin.min.js"></script>
    <script type="text/javascript" src="/js/leaflet.wms.js"></script>
    <script type="text/javascript" src="/js/leaflet.spin.min.js"></script>
    <script type="text/javascript" src="/js/Leaflet.fullscreen.min.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
</body>
</html>