<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Parakou Map </title>
    <link rel="shortcut icon" href="/img/logo_parakou.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/css/spin.css">
    <link rel="stylesheet" href="/css/leaflet.fullscreen.css">
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: green;
        }

        .legend {
            line-height: 28px;
            padding: 10px;
            color: #555;
        }
        .legend i {
            width: 28px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        .mylabel {
            background-color: transparent;
        }

        .tooltipParcelles {
            background-color: white;
        }
        .tooltipQuartiers {
            background-color: red;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: x-small;
        }
        .tooltipRoutes {
            background-color: yellow;
            color: white;
        }
        .tooltipIlots {
            background-color: green;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: xx-small;
        }
        .tooltipArrondissements {
            background-color: purple;
            color: white;
            padding: 0px;
            margin: 0px;
            font-size: small;
        }
        .tooltipInfrastructures {
            background-color: magenta;
            color: white;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-2 d-flex flex-column bg-dark" style="height: 100vh;">
                    <div class="row">
                        <img class="w-100 px-0" src="/img/logo_parakou.jpg" alt="Logo mairie Parakou">
                    </div>
                    <h2 class="text-center py-1 text-white">Mairie de Parakou</h2>
                    <div id="printMap" class="text-center pb-3">
                        <button class="btn btn-success text-white">Exporter carte</button>
                    </div>

                    <div class="row" style="overflow-y: auto;">
                        <div id="log" class="card text-white bg-danger" style="display: none;">
                            <div class="card-header h3">
                                Erreurs
                            </div>
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                        </div>    
                    </div>
                    
                </div>
                <div id="mapid" qip="<%= qip ? qip : -1 %>" class="col-md-10 w-100" style="height: 100vh;">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/js/proj4-compressed.js"></script>
    <script type="text/javascript" src="/js/proj4leaflet.js"></script>
    <script type="text/javascript" src="/js/spin.min.js"></script>
    <script type="text/javascript" src="/js/leaflet.spin.min.js"></script>
    <script type="text/javascript" src="/js/Leaflet.fullscreen.min.js"></script>
    <script type="text/javascript" src="/js/leaflet-image.js"></script>
    <script type="text/javascript" src="/js/leaflet.browser.print.min.js"></script>
    <script type="text/javascript" src="/js/project.js"></script>
</body>
</html>